{% extends "base.html.twig" %}
{% block download %}
  <div class="container">
    <div class="alert alert-danger"> <h3>Файл {{ file.fileName }} отсутствует на сервере<h3> </div>
  </div>
{% endblock %}
